# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.vcxproj.filters
*.vcxproj.user

# Build output
Debug/
Release/
x64/
x86/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.exe
*.dll
ipch/

# Data files
data/
*.dat

# Coverage
*.log
*.xml
coverage_report/
